@import "../../../../variables.scss";

.posts {
    .addPost, .button {
        width: 150px;
    }
    .list-unstyled {
        padding-top: 10px;
        li {
            padding-top: 10px;
        }
    }
}